#sis{
    color: #a3b18a;
    font-family: Barlow Condensed;
    font-size: 20px;
  }

  #ayudantes{
    border-radius: 100%;
    width: 250px;
    height: 250px;
  }

  #ayu{
    outline: none;
    color: #a3b18a;
    text-decoration: none;
    display: inline-block;
  }
  
  
  
  
  